<html>
<head>
    <title>List of places</title>
</head>
<body>
    <h1>You've added a new place!</h1>
    <p>{{ newplace.getCityName }}</p>
    <p><a href='/'>View the places you've been</a></p>
</body>

</html>
