<html>
<head>
    <title>List of places</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
    <h1>You've added a new place!</h1>
    <p>{{ newplace.getCityName }}</p>
    <p><a href='/'>View the places you've been</a></p>
</body>

</html>
